2 ways of running a loop for:

In [1]:
x = [1,2,3,4,5]

In [3]:
out =[]
for num in x:
    out.append(num**2)

In [4]:
print(out)

[1, 4, 9, 16, 25]

In [5]:
# Another way

In [6]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [7]:
out = [num**2 for num in x]

In [8]:
print(out)

[1, 4, 9, 16, 25]

In [9]:
out

[1, 4, 9, 16, 25]

Defining a function "def"

In [11]:
def my_func(param1):
    print(param1)

In [13]:
my_func('Hello')

Hello

In [16]:
def my_func(name):
    print('Hello '+name)

In [28]:
my_func('Giuliano')

Hello Giuliano

The return function brings the return of some operation or expecting values while print is just showing/printing

In [35]:
def square(num):   

    return num**2

In [31]:
output = square(2)

In [32]:
output

4

Shift + Tab shows the info about the functions

In [36]:
def times2(var):
    return var*2

In [37]:
times2(5)

10

In [38]:
#mapping -> instead of using For loop

In [39]:
seq =[1,2,3,4,5]

In [40]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [44]:
#Using lamba instead of using the function, when you are mapping instead of using the entire function use LAMBDA

In [42]:
lambda var:var*2

In [43]:
t = lambda var:var*2

In [45]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [50]:
filter(lambda var:var%2 == 0,seq)

In [54]:
#adding list to show the results and filtering out EVEN numbers

In [52]:
list(filter(lambda var:var%2 == 0,seq))

[2, 4]

In [55]:
#Methods

In [57]:
s= 'my name is Sam'

In [59]:
s.lower() #lower all the letters

'my name is sam'

In [60]:
s.upper() #upper all the letters

'MY NAME IS SAM'

In [61]:
s.split()

['my', 'name', 'is', 'Sam']

In [62]:
tweet='Go Sports! #Sports'

In [63]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [65]:
tweet.split('#') #take out the #

['Go Sports! ', 'Sports']

In [66]:
tweet.split('#')[1] #Just select the second because in python starts at 0 the counting

'Sports'

In [68]:
tweet.split('#')[0] #Shows the initial word

'Go Sports! '

In [69]:
#Dictionary

In [72]:
d = {'k1':2, 'k2':1}

In [73]:
d

{'k1': 2, 'k2': 1}

In [74]:
d.keys()

dict_keys(['k1', 'k2'])

In [75]:
d.values()

dict_values([2, 1])

In [76]:
d.items()

dict_items([('k1', 2), ('k2', 1)])

In [77]:
#List

In [78]:
lst=[1,2,3]

In [79]:
lst.pop() #changes permantely

3

In [80]:
lst #which means that 3 is no longer part of the list

[1, 2]

In [95]:
lst=[1,2,3,4,5]

In [96]:
item=lst.pop() #the last item will no longer be part of the list

In [97]:
lst

[1, 2, 3, 4]

In [98]:
item

5

In [99]:
first=lst.pop(0)  #Now the first number of the list has been popep off

In [100]:
lst

[2, 3, 4]

In [101]:
first

1

In [102]:
lst.append('New')  #Append a new item to the list

In [103]:
lst

[2, 3, 4, 'New']

In [104]:
# The function in:

In [105]:
'x'in [1,2,3] # is 'x' in this sequence?

False

In [106]:
'x'in ['x','y','z'] # is 'x' in this sequence?

True

In [107]:
#Tupples

In [108]:
x = [(1,2),(3,4),(5,6)]

In [109]:
x[0]  #comes in a matrix format

(1, 2)

In [110]:
x[0][0]  #comes in a matrix format

1

In [111]:
x[0][1]  #comes in a matrix format

2

In [112]:
x[1][0] #comes in a matrix format

3

In [114]:
for item in x:  
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [116]:
for (a,b) in x:  #Unpacking the tupples
    print(a)

1
3
5

In [117]:
for (a,b) in x:  #Unpacking the tupples
    print(b)

2
4
6

In [118]:
for (a,b) in x:  #Unpacking the tupples all together
    print(a)
    print(b)

1
2
3
4
5
6