In [1]:
age1 = 12
age2 = 18

In [2]:
age12= age1 + age2

In [3]:
age12

30

In [4]:
age1%age2

12

In [5]:
age2%age1

6

In [7]:
firstName="Giuliano"
lastName="Silva"

In [8]:
firstName + " "+ lastName

'Giuliano Silva'

In [13]:
firstName*10

'GiulianoGiulianoGiulianoGiulianoGiulianoGiulianoGiulianoGiulianoGiulianoGiuliano'

In [14]:
firstName[0:6]

'Giulia'

In [15]:
firstName[:-2]

'Giulia'

In [16]:
firstName[:-5]

'Giu'

In [17]:
name = "Jake"

In [18]:
sent = "%s is 15 years old"

In [19]:
sent%name

'Jake is 15 years old'

In [25]:
sent = "%s %s is president of US"

In [26]:
sent%(firstName,lastName)

'Giuliano Silva is president of US'

In [ ]:
# Placeholder %s is for string and %d is for integer

In [27]:
sent = "%s is %d years old"

In [28]:
sent%(lastName, age1)

'Silva is 12 years old'

In [58]:
# Lists: Adding, Changing and Deleting items. For list is used this type of brackets []

In [59]:
shoplist = ["Apples", "Oranges","Bananas", "Cheese" ]

In [60]:
shoplist

['Apples', 'Oranges', 'Bananas', 'Cheese']

In [61]:
#Adding item into the list

In [62]:
shoplist.append("Blueberries")

In [63]:
shoplist

['Apples', 'Oranges', 'Bananas', 'Cheese', 'Blueberries']

In [64]:
#Changing item

In [65]:
shoplist[1]="Cherries"

In [66]:
shoplist

['Apples', 'Cherries', 'Bananas', 'Cheese', 'Blueberries']

In [67]:
#Deleting

In [68]:
del shoplist[2]

In [69]:
shoplist

['Apples', 'Cherries', 'Cheese', 'Blueberries']

In [70]:
# How many item do I have on my list??

In [71]:
len(shoplist)

4

In [72]:
# Addind array lists

In [73]:
shoplist2 = ["Bread", "Jam", "Peanut Butter"]

In [75]:
x = shoplist + shoplist2

In [76]:
x

['Apples',
 'Cherries',
 'Cheese',
 'Blueberries',
 'Bread',
 'Jam',
 'Peanut Butter']

In [77]:
# Multiplying lists

In [79]:
x*2  #Doubling the list

['Apples',
 'Cherries',
 'Cheese',
 'Blueberries',
 'Bread',
 'Jam',
 'Peanut Butter',
 'Apples',
 'Cherries',
 'Cheese',
 'Blueberries',
 'Bread',
 'Jam',
 'Peanut Butter']

In [80]:
# Max and Min function on a list

In [81]:
numList = [1,2,54,3,67]

In [82]:
max(numList)

67

In [83]:
min(numList)

1

In [84]:
# Dictionary: Tips for using dictionaries you need to have a KEY with a UNIQUE value. For dictionary is used the curly 
#brackets #{}

In [85]:
# list:   
students = ["Bob", 12, "Rachel", 20, "Kate", 18]

In [86]:
#Dictionary:
students = {"Bob":12, "Rachel":20,"Kate":18}

In [88]:
students["Rachel"]

20

In [89]:
students["Bob"]

12

In [90]:
students["Kate"]

18

In [91]:
# Updating the data

In [92]:
students["Rachel"]= 25

In [93]:
students

{'Bob': 12, 'Rachel': 25, 'Kate': 18}

In [94]:
# Deleting data

In [95]:
del students["Kate"]

In [96]:
students

{'Bob': 12, 'Rachel': 25}

In [97]:
# How many name do I have?

In [98]:
len(students)

2

In [99]:
# On thing is ALWAYS have UNIQUE keys for the item special dealing with names

In [100]:
students2 = { "Bob":15, "Bob":12, "Bob":22}

In [101]:
students2["Bob"]   #Python doesn't know which Bob is because there are 3 Bobs

22

In [ ]:
# Tuples: once a Tuple is made it can't be changed. for Tuples is used the parentheses

In [102]:
tup = ("Banana", "Apple", "Orange")

In [103]:
tup

('Banana', 'Apple', 'Orange')

In [104]:
tup[0] = "Cherries"  #You get error

TypeError: 'tuple' object does not support item assignment

In [105]:
#but you can still access the index

In [106]:
tup[0]

'Banana'

In [107]:
#And also adding tuples

In [110]:
tup2 = (1,2,3)

In [111]:
tup3 = tup + tup2

In [112]:
tup3

('Banana', 'Apple', 'Orange', 1, 2, 3)

In [113]:
#But you still can't change the tuples

In [114]:
#You can delete the ENTIRE tuple but still can't delete just one item

In [115]:
del tup3

In [116]:
tup3  #won't find

NameError: name 'tup3' is not defined

In [117]:
len(tup)   #how many items?

3

In [118]:
# also can multiply the tuple  
tup*2

('Banana', 'Apple', 'Orange', 'Banana', 'Apple', 'Orange')